html, body{
    width: 1000px;
    margin: 0 auto;
}
* {
    box-sizing: border-box;
}
.home{
    display: flex;
    width: 100%;
}
.home_right{
    width: 75%;
    background-color: #181818;
    height: 100vh;
}
.sidebar{
    width: 25%;
    background-color: #202020;
}
.sidebar_img img{
    width: 100%;
}
.sidebar_content{
    transform: translateY(-65px);
    text-align: center;
}
.sidebar_content_header{
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}
.sidebar_content_title{
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
}
.sidebar_content_line{
    border: 1px solid #1C1C1C;
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}
.sidebar_content__subtitle{
    margin-top: 30px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    padding: 20px 20px;
}
.sidebar_wrapper_btn {
    margin-top: 30px;

}
    .sidebar__btn{
        border-radius: 20px;
        width: 97px;
        height: 32px;
        background-color: #CD251A;
        border: none;
        color: white;
        text-decoration: none;
        padding: 6px;

    }
    .sidebar__btn:hover{
        background-color: #121212;
    }
    .sidebar__btn__bly{
        background-color: #2A5FE7;
    }

.header{
    display: flex;
    max-height: 40px;
    background-color: black;
    text-align: center;
}
.header_menu {
    width: 75%;
    height: 100%;
}
.menu{
    display: flex;
    width:100%;
    height: 100%;




}
.menu_item{
    height: 100%;
    list-style-type: none;
    width: fit-content;


}
.menu_item:hover{
    background-color: #3137C9;
}
.menu_item:last-child {
    margin-left: auto;
}
.menu_item__link{
    display: block;
    text-decoration: none;
    list-style-type: none;
    color: #fff;
    height: 100%;
    padding: 11px 11px;
}
.search{

    width: 30%;
    height: 100%;
}
/*.search_search{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    outline: none;*/
/*    border: none;*/
/*    padding-left: 20px;*/
/*    background-color: #2f2e2e;*/
/*    color: #686868;*/
/*    font-size: 1.1rem;*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #686868;
    font-size: 1.1rem; }


/*right-side_promo*/
.promo{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #181818;
    padding: 60px 30px;
}
.promo_cards{
    display: flex;
    justify-content: space-around;

}
.promo_cards_item{
    background-image: url("https://www.meme-arsenal.com/memes/29229b3e0d69ee1cea6f6bf396d8671d.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    border-radius: 10px;
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px;
    font-family: Calibri, sans-serif;
}
.promo_cards_item:nth-child(2) {
    background: url("https://www.meme-arsenal.com/memes/29229b3e0d69ee1cea6f6bf396d8671d.jpg")center / contain no-repeat;
}
.promo_cards_item:nth-child(3) {
    background: url("https://www.meme-arsenal.com/memes/29229b3e0d69ee1cea6f6bf396d8671d.jpg")center / contain no-repeat;
}
.promo_cards_item:nth-child(4) {
    background: url("https://www.meme-arsenal.com/memes/29229b3e0d69ee1cea6f6bf396d8671d.jpg")center / contain no-repeat;
}
.promo_cards_item_data{
    justify-content: flex-end;
    color: white;
}
.promo_cards_item_data{
    color: #fff;
    align-self: flex-end;
}
.promo_tools{
    height: 74px;
    background-color: #121212;
    box-shadow: 0 0 10px rgba(0,0,0,1.5);
    margin-top: 30px;
    border-radius: 10px;
}
/*right-side_promo end*/

/*promo_tools*/
.promo_tools{
    display: flex;
    padding: 20px 20px;
    width: 100%;
}
.promo_text{
    width: 75%;
}
.promo_icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
}
.promo_icons_photo{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #EBEBEB;
    text-align: center;
}
.promo_icons_photo img{
    margin-top: 10px;

}
.promo_icons_send img{
    margin-top: 13px;
}
.promo_icons_photo a,promo_icons_send a{
    width: 100%;
}

.promo_icons_send{
    width: 44px;
    height: 44px;
    text-align: center;
    border-radius: 50%;
    background-color: #3137C9;

}
.promo_icons_photo img{
    width: 50%;
}
.promo_post{
    width: 100%;
    min-height: 161px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px;
    margin-top: 30px;
}
.promo_post_text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: white;
}
.promo_post_data{
    color: #828282;
    font-size: 12px;
    line-height: 14px;
    margin-top: 7px;
}


/*promo_list*/
.promo_list{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background: #202020;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    padding-bottom: 15px;
}
.promo_list_content{
    color: white;
    padding: 20px 20px;

}
.promo_list_content_title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
.promo_list_content_subtitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    margin-top: 15px;
}
.promo_list_end{
    display: flex;
    margin-top: 21px;
}
.promo_list_end_left{
    display: flex;
    width: 38%;
    justify-content: space-around;
    align-items: center;
}
.promo_list_end_elips{
    width: 6px;
    height: 6px;
    border-radius: 38%;
    background-color: #C4C4C4;
    align-self: center;
}
.promo_list_end_data, .promo_list_end_text{
    font-size: 12px;
    line-height: 14px;
    color: #828282;
}
.promo_list_end_right{
    width: 78%;
    display: flex;
    justify-content: flex-end;
}
.promo_read{
    text-decoration: none;
}

.promo_list_img_video{
    padding: 25px;
}
.pagenav{
    width: 240px;
    height: 40px;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
}
.pagenav_block{
    height: 100%;
    width: 40px;
    background: #0D0D0D;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.pagenav_block a{
    padding: 12px 15px;
    height: 100%;
    text-decoration: none;

}


/*///////////////page_work/////////////////////////////////*/
.promo_work{
    font-family: Roboto;
    font-style: normal;
    font-size: 21px;
    line-height: 21px;
    font-weight: 900;
    color: #FFFFFF;
}
.promo_wrapper{
    padding: 60px 50px;
}
.work{
    width: 600px;
    height: 552px;
    background-color: #202020;
    margin-top: 30px;
    display: flex;
}
.work_left{
    width: 50%;
}
.work_right{
    width: 50%;
    padding: 20px 25px 25px 25px;
}
.work_right_title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.work_right_sudtitle{
    margin-top: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    color: #D2D2D2;
}
.wrapper_tag{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.tag_block{
    background-color: #EA8C1E;
    width: fit-content;
    color: white;
    padding: 5px;
    border-radius: 3px;
}
.work_btn{
    display: flex;
    justify-content: flex-end;
    margin-top: 89px;
    padding: 4px;
}
.work_btn a{
    text-decoration: none;
    color: white;
    background-color: #3137C9;
    padding: 6px;

}